
.registration-container {
  width: 60%;
  margin: 20px auto;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 30px;
}

.page-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 30px;
}


.tab-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab {
  position: relative;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;
}

.tab:hover {
  background-color: #e0e0e0;
}

.tab.active {
  background-color: #2A3663;
  color: white;
  border-bottom: 3px solid #232e55;
}


.info-panel {
  margin-top: 20px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  transition: all 0.3s ease;
}

.info-panel p {
  margin: 0;
}


.form-content {
  padding: 20px;
}


.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}


.submit-button {
  background: #2A3663;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background: #777;
}

.submit-button:focus {
  outline: 3px solid #2A3663;
}


.form-group textarea {
  width: 100%;         
  height: 150px;         
  padding: 10px;         
  font-size: 16px;     
  border: 1px solid #ccc; 
  border-radius: 4px; 
  resize: vertical;      
}
@media (max-width: 768px) {
  .registration-container {
    width: 90%;
  }
}


